@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    font-family: 'Roboto' sans-serif;
}

header {
    background: #8888f0;
    text-align: center;
    
}

.conteudo {
    font-size: 18px;
    text-align: center;
    background: whitesmoke;
}

.footer {
    width: 100%;  
    background: #8888f0;
}

.conteudo p {
    line-height: 100%;
    width: 20%;
    text-align: center;
    margin: auto;

}

.conteudo h3 {
    font-weight: 1000;
    padding: 20px; 
}

section {
    border: 1px solid black;
}

button {
    background: gray;
}

